body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 150vh;
  border: 4px solid black;
  margin: 0;
}

.title {
  align-self: center;
  border: 2px solid red;
}

.description-container {
  border: 2px solid blue;
  width: 90%;
  align-self: flex-start;
  margin-left: 2%;
}

.img {
  width: 200px;
  height: 200px;
}

.question {
  /* border: 2px solid black; */
  width: 200px;
  height: 200px;
  align-self: flex-end;
  padding: 15px;
  margin-right: 2%;
}

.gif-container {
  width: 90%;
  height: 640px;
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  align-items: space-evenly;
  flex-wrap: wrap;
  align-self: center;
}

.gif-1,
.gif-2 {
  width: 300px;
  height: 300px;
  transition: transform 0.4s ease;
}

.gif-1:hover {
  transform: translateY(5%);
}

.gif-2:hover {
  transform: translateY(-5%);
}